.btn-danger {
    background-color: #cccccc !important;
}
.dataTables_wrapper {
    .dt-buttons {
        float: right;
        text-align: right;
        .buttons-pdf,
        .buttons-excel,
        .buttons-csv {
            display: none;
        }
        .buttons-page-length {
            background: white;
        }
    }
    .dataTables_filter {
        width: 50%;
        float: left;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        label {
            width: 100%;
            text-align: left;
        }
        input {
            width: 80%;
            color: #76838f;
            background-color: #fff;
            background-image: none;
            border: 1px solid #e4eaec;
            padding: 5px 6px;
        }
    }
    .dataTables_paginate {
        .paginate_button {
            margin-left: 5px;
        }
    }
}
.voyager {
    ul.nav-tabs {
        background-color: transparent;

        li.nav-item {
            //&:hover {
            //    background-color: #76838f;
            //}
            &.active {

                a:hover {
                    background-color: #76838f;
                }
            }
        }
    }
}
.dataTable2 {
    td, th {
        font-size: 14px;
    }
}
.export-buttons-table {
    a {
        margin-left: 20px;
    }
    img {
        max-width: 30px;
        height: auto;
    }
}
.btn-secondary {
    background-color: #cccccc
}
.panel-body {
    .form-group {

    }
}
.row>[class*=col-] {
    margin-bottom: 12px;
}
.page-content {
    .panel-bordered {
        h3 {
            font-size: 20px;
        }
    }
}
